<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Welcome!{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block css %}<link href="{{ asset('../web/bundles/acmepas/css/style.css') }}" type="text/css" rel="stylesheet" />{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="logout">
				{% if app.security.getToken().getUser() != 'anon.' %}
					Welcome {{ app.security.getToken().getUser().getUsername() }} &nbsp; 
					<a href="{{ path('pas_homepage') }}">Home</a> &nbsp; 
					<a href="{{ path('logout') }}">Log Out</a>
				{% endif %}
			</div>
			<div id="content">
				<div id="logo">
					<img src="{{ asset('../web/bundles/acmepas/images/logo.png') }}" width="113" height="60" alt="logo" />
				</div>
				{% block main %}
				{% endblock %}
			</div>
		{% endblock %}
		
		{% block javascripts %}
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
			<script src="{{ asset('../web/bundles/acmepas/js/fn.js') }}"></script>
		{% endblock %}
	</body>
</html>