{% extends '::base.html.twig' %}

{% block title %}Budget Confirmation Page - Summary{% endblock %}

{% block main %}
	<div id="heading">
		<h3>Budget Summary</h3>
	</div>

	<div id="main">
		<form id="budget_confirmation_form" action="{{ path('pas_budget_confirmation_form') }}" method="post" form_enctype="">
			<select id="fiscalyear">
				<option value="">Choose One Fiscal Year</option>
				{% for year in years %}
					<option value="{{ year }}" {% if loop.index == loop.last %}selected{% endif %} >{{ year }}</option>
				{% endfor %}
			</select>

			{% for year in years %}
				<table id="{{ year }}" class="status summary">
					<thead>
						<tr>
							<th class="summary_no">No.</th>
							<th class="summary_received">Received</th>
							<th class="summary_date">Last Received Date</th>
							<th class="summary_category">Officer/Committee Chair/TF Chair</th>
							<th class="summary_amount">Amount (US$)</th>
							<th class="summary_approved">Is Approved?</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td class="summary_no">Total</td>
							<td></td>
							<td></td>
							<td></td>
							<td class="summary_amount">{{ requests[year]['sum'] }}</td>
						</tr>
					</tfoot>
					<tbody>
						{% for category in categories %}
							<tr>
								<td class="summary_no">{{ loop.index }}</td>
								{% set received = 0 %}
								{% for cat in requests[year]['categories'] %}
									{% if cat == loop.parent.loop.index %}
										<td class="summary_received"><input type="checkbox" name="received[]" value="{{ loop.index }}" {% if requests[year][cat]['lastdate'] %}checked{% endif %} disabled /></td>
										<td class="summary_date">{{ requests[year][cat]['lastdate']|date("m/d/Y") }}</td>
										<td class="summary_category"><a class="link" href="{{ path('pas_budget_confirmation_form', {'cid': loop.parent.loop.index, 'year': year}) }}">{{ categories[cat] }}</a></td>
										<td class="summary_amount">{{ requests[year][cat]['amount'] }}</td>
										<td class="summary_approved">{% if requests[year][cat]['approved'] == 1 %}Yes{% else %}No{% endif %}</td>
										{% set received = 1 %}
									{% endif %}
								{% endfor %}
								{% if received != 1 %}
									<td class="summary_received"><input type="checkbox" name="received[]" value="{{ loop.index }}" disabled="true" /></td>
									<td class="summary_date"></td>
									<td class="summary_category"><a class="link" href="{{ path('pas_budget_confirmation_form', {'cid': loop.index, 'year': year}) }}">{{ categories[loop.index] }}</a></td>
									<td class="summary_amount"></td>
									<td class="summary_approved"></td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}

			<div id="buttons" class="form_item">
				<input type="submit" value="Approve" />
			</div>
		</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function() {
			SelectYear();
			$("#fiscalyear").change(function (){
				SelectYear();
			});
		});
	</script>
{% endblock %}