{% extends '::base.html.twig' %}

{% block title %}Budget Request Status{% endblock %}

{% block main %}
			<div id="heading">
				<h3>Budget Request Status</h3>
			</div>
{% if request == false %}
			<div id="main">
				<h4>No budget request found for id {{ id }}</h4>
				<div id="links">
					<a href="{{ path('pas_homepage') }}">Home</a>
				</div>
			</div>
{% else %}
			<div id="main">
{% if action == 'submit' %}
				<h4>Is all information correct?</h4>
				<br />
{% endif %}
				<table id="budget_status">
					<tr>
						<td class="status_tag">Budget Holder:</td>
						<td class="status_content">{{ requester.username }}</td>
					</tr>
					<tr>
						<td class="status_tag">Email:</td>
						<td class="status_content">{{ requester.email }}</td>
					</tr>
					<tr>
						<td class="status_tag">Request Type:</td>
						<td class="status_content">{% if request.requestType == 1 %}Latest Estimation{% else %}Budget Request{% endif %}</td>
					</tr>
					<tr>
						<td class="status_tag">Budget Category:</td>
						<td class="status_content">{{ category.name }}</td>
					</tr>
					<tr>
						<td class="status_tag">Starting Date of Activity:</td>
						<td class="status_content">{{ request.startdate|date("m/d/Y") }}</td>
					</tr>
					<tr>
						<td class="status_tag">Ending Date of Activity:</td>
						<td class="status_content">{{ request.enddate|date("m/d/Y") }}</td>
					</tr>
					<tr>
						<td class="status_tag">Abstract of activity:</td>
						<td class="status_content">
{% if request.abstract == null %}
							N/A
{% else %}
							{{ request.abstract }}
{% endif %}
						</td>
					</tr>
					<tr>
						<td class="status_tag">Details:</td>
						<td class="status_content">
{% if request.details == null %}
							N/A
{% else %}
							{{ request.details }}
{% endif %}
						</td>
					</tr>
					<tr>
						<td class="status_tag">Amount:</td>
						<td class="status_content">{{ request.amount|number_format(2, '.', ',') }} {{ currency.code }}</td>
					</tr>
					<tr>
						<td class="status_tag">Approver:</td>
						<td class="status_content">
{% if request.approved == '1' %}
							CFO approved
{% elseif request.approved == '2' %}
							CFO changed request's status to pending
{% else %}
							waiting for CFO's approval
{% endif %}
						</td>
					</tr>
					<tr>
						<td class="status_tag">Submission Date:</td>
						<td class="status_content">{{ request.date|date("m/d/Y") }}</td>
					</tr>
				</table>
{% if action == 'submit' %}
				<form id="budget_request_form" class="bda_form" action="{{ path('pas_budget_request_status') }}" method="post">
					<div id="buttons" class="form_item">
						<input type="button" value="Edit" onclick="edit({{ id }})" /><input type="submit" value="Confirm" />
					</div>
					<input type="hidden" name="id" value="{{ id }}">
				</form>
{% elseif action == 'query' and requester.uid == app.user.uid %}
				<div id="links">
					<a href="{{ path('pas_budget_request_form', {'id': id, 'action': 'edit'}) }}">Edit</a>
				</div>
{% endif %}
			</div>
{% endif %}
{% endblock %}

{% block javascripts %}
		<script type="text/javascript">
			function edit(id) {
				window.location.replace("budget-request?id=" + id + "&action=" + "edit");
			}
		</script>
{% endblock%}