{% extends '::base.html.twig' %}

{% block title %}Budget Check Page{% endblock %}

{% block logout %}{% endblock %}

{% block main %}
			<div id="heading">
				<h3>Budget Check Page</h3>
			</div>
			<div id="main">
				<form id="budget_check_form" class="bda_form">
					<div class="form_item">
						<label for="fiscalyear">Choose Fiscal Year: </label><br />
						<select id="fiscalyear">
							<option value="0" disabled="disabled">Choose One Fiscal Year</option>
{% for i in "now"|date("Y").."now"|date("Y")+1 %}
							<option value="{{ i }}" {% if year == i %}selected="selected"{% endif %}>{{ i }}</option>
{% endfor %}
						</select>
					</div>
					<table id="{{ year }}" class="status summary">
						<thead>
							<tr>
								<th class="check_no">No.</th>
								<th class="check_category">Officer/Committee Chair/TF Chair</th>
								<th class="check_holder">Budget Holder</th>
								<th class="check_amount">Amount (USD)</th>
								<th class="check_selected">Selected</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td class="check_no"></td>
								<td class="check_category"></td>
								<td class="check_holder"></td>
								<td class="check_amount">Total Amount: {{ budgets['sum']|number_format(2, '.', ',') }}</td>
								<td class="check_selected"></td>
							</tr>
						</tfoot>
						<tbody>
{% for cat in budgets['categories'] %}
							<tr>
								<td class="check_no">{{ loop.index }}</td>
								<td class="check_category">{{ categories[cat] }}</td>
								<td class="check_holder">{{ budgets[cat]['holder'] }}</td>
								<td class="check_amount">{{ budgets[cat]['amount']|number_format(2, '.', ',') }}</td>
								<td class="check_selected"><input type="radio" name="selected_budget" value="{{ year }}-{{ cat }}" required="required" /></td>
							</tr>
{% endfor %}
						</tbody>
					</table>
					<div id="buttons" class="form_item">
						<input type="submit" value="Done" />
					</div>
				</form>
			</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
		<script type="text/javascript">
			$(function() {
				$("#fiscalyear").change(function (){
					window.location.replace("budget-check?year=" + $(this).val());
				});
				$("#budget_check_form").submit(function(event) {
					event.preventDefault();
					var result = {};
					var $selected = $("input[name=selected_budget]:checked");
					var $uncles = $selected.parent().siblings().each(function () {
						if ($(this).hasClass("check_no")) result.no = $(this).text();
						if ($(this).hasClass("check_category")) result.category = $(this).text();
						if ($(this).hasClass("check_holder")) result.holder = $(this).text();
						if ($(this).hasClass("check_amount")) result.amount = $(this).text();
					});				
					var id = $selected.val();
					if (id) {
						result.year = id.slice(0, 4);
						result.cat = id.slice(5);
						window.opener.SelectBudget(result);
						window.close();
					}
				});
			});
		</script>
{% endblock %}