{% extends '::base.html.twig' %}

{% block title %}Blu-ray Disc Payment Approval - Home{% endblock %}

{% block logout %}
		<div id="logout">
{% if app.security.getToken().getUser() != 'anon.' %}
			Welcome {{ app.security.getToken().getUser().getUsername() }} &nbsp; 
			<a id="logout_btn" href="{{ path('logout') }}">Log Out</a>
{% endif %}
		</div>
{% endblock %}

{% block main %}
			<div id="main">
				<div id="home_nav">
					<ul>
						<h2 class="request_group">Budget Request</h2>
						<li><a href="{{ path('pas_budget_request_form') }}">Estimation/Budget Request</a></li>
						<li><a href="{{ path('pas_budget_confirmation_form') }}">Budget Confirmation</a></li>
						<li><a href="{{ path('pas_budget_requests_list') }}">Budget Requests List</a></li>
						<h2 class="request_group">Pre-payment Request</h2>
						<li><a href="{{ path('pas_pre_request_form') }}">Pre-payment Request</a></li>
						<li><a href="{{ path('pas_pre_requests_list') }}">Pre-payment Requests List</a></li>
						<h2 class="request_group">Payment Request</h2>
						<li><a href="{{ path('pas_post_request_form') }}">Payment Request</a></li>
						<li><a href="{{ path('pas_post_requests_list') }}">Payment Requests List</a></li>
					</ul>
				</div>
			</div>
{% endblock %}