{% extends '::base.html.twig' %}

{% block title %}{{ type }} Notice Email{% endblock %}

{% block body %}
	{% block main %}
		<div id="heading">
			<h3>{{ type }} Notice</h3>
		</div>

		<div id="main">
			<p>
				{% if receiver == false %}
					To whom it may concern,
				{% else %}
					Dear {{ receiver.username }},
				{% endif %}
				<br />
				{% if type == "BDA Expense Budget Request" %}
					{% if role == "requester" %}
						Your {{ type }} is submitted successfully.<br />
					{% else %}
						A new {{ type }} is submitted.<br />
					{% endif %}
				{% elseif type == "BDA Expense Budget Approval" %}
					Your BDA Expense Budget Request is approved.<br />
				{% elseif type == "Pre-Payment Request" or type == "Payment Request" %}
					{% if role == "requester" %}
						Your {{ type }} is submitted successfully.<br />
					{% else %}
						A new {{ type }} is submitted. You are asked to approve it.<br />
					{% endif %}
				{% elseif type == "Pre-Payment Approval" or type == "Payment Approval" %}
					Your {{ type }} is 
					{% if status == 0 %}
						waiting for approval.
					{% elseif status == 1 %}
						is approved.
					{% else %}
						is pending.
					{% endif %}
					<br />
				{% endif %}
				<br />
				Please check the details at the following link:<br />
				<a href="{{ link }}" class="link">{{ link }}</a>
			</p>
		</div>
	{% endblock %}
{% endblock %}

{% block javascripts %}{% endblock %}