{% extends '::base.html.twig' %}

{% block title %}Pre-payment Requests List{% endblock %}

{% block main %}
			<div id="heading">
				<h3>Pre-payment Requests List</h3>
			</div>
			<div id="main">
				<form class="bda_form">
					<div class="form_item">
						<label for="fiscalyear">Choose Fiscal Year: </label><br />
						<select id="fiscalyear">
							<option value="0" disabled="disabled">Choose One Fiscal Year</option>
{% for i in 2013.."now"|date("Y")+1 %}
							<option value="{{ i }}" {% if year == i %}selected="selected"{% endif %}>{{ i }}</option>
{% endfor %}
						</select>
					</div>
					<table id="{{ year }}" class="status list">
						<thead>
							<tr>
{% if app.user.role == 'admin' %}
								<th class="list_no">Request No.</th>
{% endif %}
								<th class="list_requester">Requester</th>
								<th class="list_amount">Amount</th>
								<th class="list_budget">Selected Budget</th>
								<th class="list_budget_holder">Budget Holder</th>
								<th class="list_date">Submission Date</th>
								<th class="list_status">Status</th>
								<th class="list_link">Review Link</th>
{% if app.user.role == 'chair' or app.user.role == 'cfo' or app.user.role == 'president' or app.user.role == 'secretary' %}
								<th class="list_link">Approval Link</th>
{% endif %}
							</tr>
						</thead>
						<tbody>
{% for req in requests %}
							<tr>
{% if app.user.role == 'admin' %}
								<td class="list_no">{{ req.prid }}</td>
{% endif %}
								<td class="list_requester">{{ users[req.requester] }}</td>
								<td class="list_amount">{{ req.amount|number_format(2, '.') }} {{ currencies['code'][req.curtype] }}</td>
								<td class="list_budget">{{ req.selectedBudget|split('-')[1] }}</td>
								<td class="list_budget_holder">{{ users[req.selectedBudget|split('-')[2]] }}</td>
								<td class="list_date">{{ req.date|date("m/d/Y") }}</td>
								<td class="list_status">
{% if (req.chairId != 0 and req.chairApproved == 2) or (req.cfoId != 0 and req.cfoApproved == 2) or (req.presidentId != 0 and req.presidentApproved == 2) or (req.secretaryId != 0 and req.secretaryApproved == 2) %}
									<span class="pending">Pending</span>
{% elseif app.user.role == 'chair' %}
{% if (req.chairId != 0 and req.chairApproved == 0) %}
									<span class="waiting">Waiting for approval</span>
{% else %}
									<span class="approved">Approved</span>
{% endif %}
{% elseif app.user.role == 'cfo' %}
{% if (req.cfoId != 0 and req.cfoApproved == 0) %}
									<span class="waiting">Waiting for approval</span>
{% else %}
									<span class="approved">Approved</span>
{% endif %}
{% elseif app.user.role == 'president' %}
{% if (req.presidentId != 0 and req.presidentApproved == 0) %}
									<span class="waiting">Waiting for approval</span>
{% else %}
									<span class="approved">Approved</span>
{% endif %}
{% elseif app.user.role == 'secretary' %}
{% if (req.secretaryId != 0 and req.secretaryApproved == 0) %}
									<span class="waiting">Waiting for approval</span>
{% else %}
									<span class="approved">Approved</span>
{% endif %}
{% else %}
{% if (req.cfoId != 0 and req.cfoApproved != 1) or (req.chairId != 0 and req.chairApproved != 1) or (req.presidentId != 0 and req.presidentApproved != 1) or (req.secretaryId != 0 and req.secretaryApproved != 1) %}
                                    <span class="waiting">Waiting for approval</span>
{% else %}
                                    <span class="approved">Approved</span>
{% endif %}
{% endif %}
								</td>
								<td class="list_link"><a class="link" href="{{ path('pas_pre_request_status', {'id': req.prid, 'action': 'query'}) }}">Review</a></td>
{% if app.user.role == 'chair' or app.user.role == 'cfo' or app.user.role == 'president' or app.user.role == 'secretary' %}
								<td class="list_link"><a class="link" href="{{ path('pas_pre_approval_form', {'id': req.prid}) }}">Approve</a></td>
{% endif %}
							</tr>
{% endfor %}
						</tbody>
					</table>
					<div class="form_item" style="float: right;">
						<input id="list_export" type="button" value="Export Pre-payment List" onclick="listExport();" />
					</div>
				</form>
			</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
		<script type="text/javascript">
			$(function() {
				$("#fiscalyear").change(function (){
					window.location.replace("pre-requests-list?year=" + $(this).val());
				});
			});

			function listExport() {
				window.location.replace("pre-list-export?year={{ year }}");
			}
		</script>
{% endblock %}